body {
	margin: 0;
}
header {
	background-color: #d0d0d0;
	padding: 8px;
}

header a {
	padding: 4px;
	text-decoration: none;
	border: 1px solid gray;
	color: black;
}

header a:hover {
	background-color: #b0b0b0;
}

section {
	background-color: #f0f0f0;
	margin: 24px 0 24px 0;
	padding: 8px;
}
